.cart__item {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 10px;
  border-bottom: 1px solid lightgray;
}

.cart__img {
  display: flex;
  align-items: center;
  max-width: 100px;
  min-height: 150px;
  
}

.cart__img img {
  width: 100%;
  object-fit: contain;
}
.cart__descr {
  display: flex;
}
.cart__descr__title {
  max-width: 400px;
  margin-left: 20px;
}

.cart__control {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.cart__control__amount {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  padding: 5px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  
}
.cart__control__buttons {
  display: flex;
  flex-wrap: nowrap;
}
.cart__control__buttons button {
  font-size: 20px;
  min-height: 30px;
  width: 40px;
  background-color: #febd69;
  border-radius: 5px;
  transition: all ease 0.3s;
}

.cart__control__buttons button:not(:last-child) {
  margin-right: 10px;
}

.cart__control__buttons button:hover {
  background-color: #f1a23a;
  cursor: pointer;
}
.cart__control__buttons button:active {
  transform: scale(1.1);
}
