.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: #131921;
  padding-left: 20px;
  padding-right: 20px;
}

.header__logo {
  width: 100px;
  display: inline-block;
  margin: 15px 20px 0px 0px;
}

.header__logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: center;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__search input {
  flex: 1 1 auto;
  min-height: 40px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px 0px 0px 5px;
}
.header__searchIcon {
  display: inline-block;
  min-height: 40px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #febd69;
  border: 1px solid white;
  border-radius: 0px 5px 5px 0px;
  transition: all 0.3s ease;
}

.header__searchIcon:hover {
  background-color: #f1a23a;
}
.header__searchIcon:active {
  transform: scale(1.05);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  gap: 10px;
}

.header__link_container {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 5px;
  border: 1px solid #131921;
  border-radius: 3px;
}

.header__link:hover {
  border: 1px solid white;
}

.header__linkLineOne {
  font-size: 10px;
}
.header__linkLineTwo {
  font-size: 14px;
  font-weight: bold;
}
