.cart__button {
  color: white;
  display: flex;
  align-items: center;
  margin-left: 10px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.cart__button:hover {
  color: #febd69;
  border-color: #febd69;
}
.cart__button:active {
  transform: scale(1.05);
}
.badge {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}
.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  
    10% {
    transform: scale(0.9);
  }
    30% {
    transform: scale(1.1);
  }
    50% {
    transform: scale(1.15);
  }
    100% {
    transform: scale(1);
  }
}
